Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

Header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.new-paste-container {
  border: 2px solid black;
}

.logo-container {
  max-width: 100px;
}

.logo-container > img {
  width: 100%;
}
